.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 140px 0 140px;
}

.header a{
    color: white;
    font-size: 17px;
    text-decoration: none;
    margin-left: 36px;
}

.header a:hover{
    color: orange;
}